{% extends 'base.html' %}

{% block content %}
{% load static %}


<!-- ========== section start ========== -->
<section class="section">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title">
            <h2>CHOISISSEZ LE CONTRAT QUE VOUS VOULEZ ACHETER</h2>
          </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
          <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#0">TABLEEAU DE BORD</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  CONTRATS
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->
  </div>
  <!-- end container -->
</section>
<!-- ========== section end ========== -->
<section style="padding: 15px;">
  <div class="row">

    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="icon-card mb-30">
        <div class="icon purple">
          <i class="lni lni-dollar"></i>
        </div>
        <div class="content">
          <h6 class="mb-10">CONTRAT EN COURS</h6>
          
          {% if user.contrat_courant %}
          <h3 class="text-bold mb-10">{{user.contrat_courant.Montant}} XAF </h3>
          <p class="text-sm text-success">
            <i class='bx bx-up-arrow-alt bx-fade-up'></i> +{{user.contrat_courant.pourcentage}}%
            <span class="text-gray">(attendus)</span>
          </p>
          {% else %}
          <h3 class="text-bold mb-10">0 XAF </h3>
          <p class="text-sm text-success">
            <i class='bx bx-up-arrow-alt bx-fade-up'></i> +0.00%
            <span class="text-gray">(attendus)</span>
          </p>
          {% endif %}
            
          
        </div>
      </div>
      <!-- End Icon Cart -->
    </div>

    
    {% for contrat in contrats %}
      <!-- End Col -->
      <div class="col-xl-3 col-lg-4 col-sm-6" data-toggle="modal" data-target="#ModalExemple{{contrat.id}}">
        <div class="icon-card mb-30">
          <div class="icon success">
            <i class="lni lni-dollar"></i>
          </div>
          <div class="content">
            <h6 class="mb-10">CONTRAT {{contrat.id}}</h6>
            
            {% if contrat.Montant < 30000 %}
            <h3 class="text-bold mb-10" style="color: #2cef0e;">{{contrat.Montant}} XAF</h3>
            <p class="text-sm text-success">
              <i class='bx bx-up-arrow-alt bx-fade-up'></i> +{{contrat.pourcentage}}%
              <span class="text-gray">Benefices/jour</span>
            </p>
            {% elif contrat.Montant < 1500000 %}
            <h3 class="text-bold mb-10" style="color: #efc90e;">30,000 XAF</h3>
            <p class="text-sm text-warning">
              <i class='bx bx-up-arrow-alt bx-fade-up'></i> +2%
              <span class="text-gray">Benefices/jours</span>
            </p>
            {% else %}
            <h3 class="text-bold mb-10" style="color: #ef0e0e;">280,000 XAF</h3>
            <p class="text-sm text-warning">
              <i class='bx bx-up-arrow-alt bx-fade-up'></i> +2%
              <span class="text-gray">Benefices/jours</span>
            </p>
            {% endif %}
              
            
            {% if not contrat.disponible  %}
            <span class="text-red" style="color: #bd0000;">Indisponible</span>
            {% endif %}
              
          
          </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <!-- End Col -->
      <!-- Modal -->
      <div class="modal fade" id="ModalExemple{{contrat.id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <form action="{% url 'acheter' %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle" style="color: #2cef0e;">ACHAT DE CONTRAT</h4>
                <a class="close" data-dismiss="modal" aria-label="Close" style="color: #ef0e0e;">
                  <i class="lni lni-close"></i>
                </a>
              </div>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">POUR PAYER EN USDT</h5>
    
              </div>
              <div class="modal-body">
                <p class="text-regular">Remplissez ce formulaire pour payer en USDT</p>
                <p class="text-regular" style="color:#EF0E0E">NB: Laissez tous ces champs vides si vous ne Payez pas en USDT !!!!</p>
                <p class="text-regular">Les Addresses possibles de Smart Invest aux-quelles effectuer les virement sont:</p>
                <p class="text-regular" style="color: #2cef0e;">BEP-20: xxxxxxxxxxxxxxxxxxxxx</p>
                <p class="text-regular" style="color: #2cef0e;">BEP-20: xxxxxxxxxxxxxxxxxxxxx</p>
                <p class="text-regular" style="color: #2cef0e;">BEP-20: xxxxxxxxxxxxxxxxxxxxx</p>
                <!-- input style start -->
                <div class="card-style mb-30">
                  <div class="input-style-1">
                    <label>Votre Addresse de portefeuille</label>
                    <input type="text" name="adresseUSDT" placeholder="Addresse BEP,ERC,..." />
                  </div>
                  <!-- end input -->
                  <div class="input-style-2">
                    <label>Montant USDT a payer</label>
                    <input type="number" name="MontantUSDT" placeholder="MontantUSDT" />
                    <span class="icon"> <i class="lni lni-money-location"></i> </span>
                  </div>
                  <!-- end input -->
                  <div class="input-style-3">
                    <input type="text"  value="XXXX USDT = XXXX XAF" disabled />
                  </div>
                 
                  <!-- end input -->
                  <div class="row"><a href="#" class="main-btn primary-btn-outline square-btn btn-hover"
                      style="margin-bottom:5px">VALIDER</a>
                    <a href="#" class="main-btn danger-btn-outline square-btn btn-hover" data-dismiss="modal">ANULER</a>
                  </div>
                </div>
                <!-- end card -->
                <!-- ======= input style end ======= -->
              </div>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">POUR PAYER EN XAF</h5>
    
              </div>
              <div class="modal-body">
                <p class="text-regular">Remplissez ce formulaire pour payer en XAF</p>
                <p class="text-regular" style="color:#EF0E0E">NB: Laissez tous ces champs vides si vous ne Payez pas en XAF !!!!</p>
                <p class="text-regular">Les Numeros possibles de Smart Invest aux-quelles effectuer les virement sont:</p>
                <p class="text-regular" style="color: #2cef0e;">Orange-money: xxxxxxxxxx</p>
                <p class="text-regular" style="color: #2cef0e;">MTN-money: xxxxxxxxxxx</p>
                <!-- input style start -->
                <div class="card-style mb-30">
                  <div class="input-style-1">
                    <label>Le numero qui va payer</label>
                    <input type="text" name="Numero" placeholder="+237 ..." />
                  </div>
                  <!-- end input -->
                  <div class="input-style-2">
                    <label>Montant XAF a payer</label>
                    <input type="number" name="Montant" placeholder="Montant" />
                    <span class="icon"> <i class="lni lni-money-location"></i> </span>
                  </div>
                  <!-- end input -->
                  <div class="input-style-3">
                    <input type="text"  disabled="true" placeholder="CONTRAT DE {{contrat.Montant}} XAF" />
                  </div>
                  <input type="text" hidden="true"  name="contrat" value="{{contrat.Montant}}">
                  <!-- end input -->
                  <div class="row"><a href="#" class="main-btn primary-btn-outline square-btn btn-hover"
                      style="margin-bottom:5px" onclick="document.getElementById('btn{{contrat.id}}').click()">VALIDER</a>
                    <a href="#" class="main-btn danger-btn-outline square-btn btn-hover" data-dismiss="modal">ANULER</a>
                  </div>
                </div>
                <!-- end card -->
                <!-- ======= input style end ======= -->
              </div>
              <div class="modal-footer">
                <h4>MERCI DE NOUS FAIRE CONFIANCE</h4>
              </div>
            </div>
            <button type="submit" id="btn{{contrat.id}}" hidden="true"></button>
          </form>
        
        </div>
      </div>
      <!-- end modalmodal-->
    {% endfor %}

    <!-- End Col -->

  </div>
  <!-- End Row -->
</section>
{% endblock %}