{% extends 'base.html' %}

{% block content %}
{% load static %}


      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>SECTION D'AIDE</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#0">TABLEAU DE BORD</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        AIDE
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
        </div>
        <!-- end container -->
      </section>
      <!-- ========== section end ========== -->

      <!-- ========== section end ========== -->
      <section style="padding: 15px;">
        <!-- end card -->
        <div class="col-lg">
          <div class="card-style mb-30" >
            <h1 class="mb-30 text-green" style="color:#27d20d">INFORMATIONS</h1>
            <p>
              <span class="text-success text-medium"> Présentation de Smart invest : Révolutionnant les investissements grâce à l'IA</span><br>


Bienvenue chez Smart invest, une plateforme pionnière dans le domaine des investissements alimentés par l'intelligence artificielle (IA). Nous sommes fiers de présenter une approche innovante qui maximise les bénéfices pour nos clients grâce à des algorithmes avancés et à une expertise pointue en IA. <br>

<b>Comment fonctionne notre système ?</b><br>

À la base de notre fonctionnement se trouve une IA sophistiquée qui analyse en temps réel les marchés financiers, les tendances économiques mondiales et les données historiques. Cette analyse approfondie permet à notre système de détecter des opportunités d'investissement lucratives avec une précision et une rapidité inégalées. <br>

<b>Génération de revenus grâce à l'IA :</b><br>

<b>1. Analyse prédictive :</b><br> Notre IA utilise des modèles d'apprentissage automatique pour prédire les mouvements futurs des marchés financiers. En analysant de vastes ensembles de données, elle identifie les schémas et les tendances qui peuvent être exploités pour générer des profits. <br>

<b>2. Optimisation du portefeuille :</b><br> En fonction des prédictions de l'IA, notre système ajuste automatiquement les portefeuilles d'investissement pour maximiser les rendements tout en minimisant les risques. Cela garantit une allocation efficace des ressources et une gestion proactive des investissements. <br>

<b>3. Trading algorithmique :</b><br> Grâce à des algorithmes de trading avancés, nous exécutons des transactions en temps réel pour capitaliser sur les opportunités identifiées par l'IA. Cette approche permet d'exploiter pleinement les fluctuations du marché et de garantir des rendements optimaux pour nos clients. <br>

<b>Distribution des gains :</b><br>

Nous sommes fiers d'offrir à nos clients un retour sur investissement exceptionnel avec un taux de distribution de 3.5 % par jour. Cette distribution régulière de bénéfices reflète l'efficacité de notre approche basée sur l'IA et notre engagement à fournir des résultats tangibles à nos investisseurs. <br>

En résumé, chez Smart invest, nous repoussons les limites de l'investissement grâce à l'intelligence artificielle. Notre approche novatrice et notre engagement envers l'excellence nous permettent d'offrir des rendements exceptionnels à nos clients, tout en ouvrant de nouvelles perspectives dans le domaine de la gestion de patrimoine. <br> Rejoignez-nous dès aujourd'hui pour faire partie de cette révolution financière. <br>
              
            </p>
            
            
          </div>
          <div class="card-style mb-30" >
            <h1 class="mb-30 text-green" style="color:#27d20d">RETRAITS</h1>
            <!-- Début de la section AIDE sur les retraits -->
<section>
  <h2>Comment effectuer un retrait ?</h2>
  <p>Pour retirer vos fonds de SMART Invest, veuillez suivre les étapes ci-dessous avec attention :</p>
  <p>1. Remplissez le formulaire de retrait en indiquant votre numéro <strong>Orange Money</strong> ou <strong>MTN Mobile Money (MoMo)</strong>.</p>
  <p>2. Si vous souhaitez retirer en <strong>USDT</strong> au lieu de <strong>XAF</strong>, veuillez fournir l'adresse de votre portefeuille électronique.</p>
  <p>3. Votre demande de retrait sera traitée dans un délai de <em>moins de 24 heures</em>. Vous recevrez vos fonds directement sur le numéro ou à l'adresse que vous avez indiquée.</p>
  <p>4. Avant de soumettre votre demande, nous vous invitons à consulter le convertisseur <strong>XAF - USDT</strong> présent sur le formulaire pour vérifier le taux de change actuel et éviter toute erreur.</p>
  <p style="color: red;">5. <em>Important</em> : Ne remplissez pas le champ de l'adresse du portefeuille si vous retirez en XAF et inversement pour les retraits en USDT.</p>
</section>
<!-- Fin de la section AIDE sur les retraits -->

          </div>
          <div class="card-style mb-30" >
            <h1 class="mb-30 text-green" style="color:#27d20d">ACHATS DE CONTRATS</h1>
            <!-- Début de la section AIDE sur les achats de contrats -->
<section>
  <h2>Acheter des contrats sur SMART Invest</h2>
  <p>Pour acquérir des contrats sur notre plateforme, suivez ces instructions :</p>
  <ol>
    <li>Les dépôts peuvent être effectués en <strong>USDT</strong> ou en <strong>XAF</strong> via <strong>MTN</strong> ou <strong>Orange Money</strong>.</li>
    <li>Pour les dépôts en USDT, remplissez uniquement la partie du formulaire dédiée à l'USDT, en vérifiant préalablement le taux de change sur le convertisseur.</li>
    <li>Ne remplissez aucun champ de la partie USDT si vous payez en XAF, et inversement.</li>
    <li>Après avoir rempli et envoyé le formulaire, votre transaction apparaîtra comme <em>'en attente'</em> dans votre historique de transactions.</li>
    <li>L'administrateur attendra que vous effectuiez un virement MTN, Orange ou USDT aux adresses spécifiées dans le formulaire.</li>
    <li>Une fois le virement reçu, l'administrateur validera votre transaction et votre contrat sera considéré comme acheté.</li>
  </ol>
  <p>Si votre transaction est en attente depuis plus de 12 heures après avoir effectué le virement, veuillez contacter l'administrateur dans la section <strong><a href="{% url 'help' %}">BESOIN D'AIDE</a></strong>.</p>
</section>
<!-- Fin de la section AIDE sur les achats de contrats -->

          </div>
          <div class="card-style mb-30" >
            <h1 class="mb-30 text-green" style="color:#27d20d">PARRAINAGE</h1>
            <!-- Début de la section Parrainage -->
<section>
  <h2>Programme de Parrainage SMART Invest</h2>
  <p>En invitant de nouveaux utilisateurs à rejoindre SMART Invest via votre lien de parrainage personnel, vous bénéficiez d'avantages exclusifs :</p>
  <ul>
    <li>Recevez un <strong>bonus de 8%</strong> sur le premier gain journalier de votre filleul.</li>
    <li>En tant que <em>grand parrain</em>, gagnez <strong>4%</strong> sur le premier gain journalier du filleul de votre filleul.</li>
  </ul>
  <p>Votre lien de parrainage est facilement accessible dans la <strong>section Parrainage</strong> de votre compte. Utilisez-le pour inviter vos amis et maximiser vos récompenses.</p>
  <p style="color: red;"><em>Note</em>: Les bonus sont crédités directement sur votre solde SMART Invest et sont soumis aux conditions générales du programme de parrainage.</p>
</section>
<!-- Fin de la section Parrainage -->

          </div>
        </div>
      
      <!-- end card -->
      </section>
            <!-- ========== footer start =========== -->
            {% endblock %}