{% extends 'base.html' %}

{% block content %}
{% load static %}


      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>SECTION D'AIDE</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#0">TABLEAU DE BORD</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        AIDE
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
        </div>
        <!-- end container -->
      </section>
      <!-- ========== section end ========== -->

      <!-- ========== section end ========== -->
      <section style="padding: 15px;">
        <!-- end card -->
        <div class="col-lg">
          <div class="card-style mb-30" >
            <h1 class="mb-30 text-green" style="color:#27d20d">INFORMATIONS</h1>
            <p>
              <span class="text-success text-medium"> Présentation de Smart invest : Révolutionnant les investissements grâce à l'IA</span><br>


Bienvenue chez Smart invest, une plateforme pionnière dans le domaine des investissements alimentés par l'intelligence artificielle (IA). Nous sommes fiers de présenter une approche innovante qui maximise les bénéfices pour nos clients grâce à des algorithmes avancés et à une expertise pointue en IA. <br>

<b>Comment fonctionne notre système ?</b><br>

À la base de notre fonctionnement se trouve une IA sophistiquée qui analyse en temps réel les marchés financiers, les tendances économiques mondiales et les données historiques. Cette analyse approfondie permet à notre système de détecter des opportunités d'investissement lucratives avec une précision et une rapidité inégalées. <br>

<b>Génération de revenus grâce à l'IA :</b><br>

<b>1. Analyse prédictive :</b><br> Notre IA utilise des modèles d'apprentissage automatique pour prédire les mouvements futurs des marchés financiers. En analysant de vastes ensembles de données, elle identifie les schémas et les tendances qui peuvent être exploités pour générer des profits. <br>

<b>2. Optimisation du portefeuille :</b><br> En fonction des prédictions de l'IA, notre système ajuste automatiquement les portefeuilles d'investissement pour maximiser les rendements tout en minimisant les risques. Cela garantit une allocation efficace des ressources et une gestion proactive des investissements. <br>

<b>3. Trading algorithmique :</b><br> Grâce à des algorithmes de trading avancés, nous exécutons des transactions en temps réel pour capitaliser sur les opportunités identifiées par l'IA. Cette approche permet d'exploiter pleinement les fluctuations du marché et de garantir des rendements optimaux pour nos clients. <br>

<b>Distribution des gains :</b><br>

Nous sommes fiers d'offrir à nos clients un retour sur investissement exceptionnel avec un taux de distribution de 3.5 % par jour. Cette distribution régulière de bénéfices reflète l'efficacité de notre approche basée sur l'IA et notre engagement à fournir des résultats tangibles à nos investisseurs. <br>

En résumé, chez Smart invest, nous repoussons les limites de l'investissement grâce à l'intelligence artificielle. Notre approche novatrice et notre engagement envers l'excellence nous permettent d'offrir des rendements exceptionnels à nos clients, tout en ouvrant de nouvelles perspectives dans le domaine de la gestion de patrimoine. <br> Rejoignez-nous dès aujourd'hui pour faire partie de cette révolution financière. <br>
              
            </p>
            
            
          </div>
          <div class="card-style mb-30" >
            <h1 class="mb-30 text-green" style="color:#27d20d">RETRAITS</h1>
            <p>
              <span class="text-success text-medium"> Paragraph text</span>
              sit amet, consectetur adipiscing elit. Orci pellentesque amet
              quam massa in aliquet pulvinar tincidunt. Enim sit elit
              scelerisque vel aliquam vel quam a tincidunt. Nunc diam at sed
              fames integer turpis libero. Id nunc quisque sed ut nec
              phasellus turpis enim elit. Turpis lobortis pellentesque ac
              massa risus faucibus tempus ut neque. Faucibus orci faucibus
              malesuada imperdiet vitae.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Orci pellentesque amet quam massa
              in aliquet pulvinar tincidunt. Enim sit elit scelerisque vel
              aliquam vel quam a tincidunt. Nunc diam at sed fames integer
              
            </p>
          </div>
          <div class="card-style mb-30" >
            <h1 class="mb-30 text-green" style="color:#27d20d">DEPOTS</h1>
            <p>
              <span class="text-success text-medium"> Paragraph text</span>
              sit amet, consectetur adipiscing elit. Orci pellentesque amet
              quam massa in aliquet pulvinar tincidunt. Enim sit elit
              scelerisque vel aliquam vel quam a tincidunt. Nunc diam at sed
              fames integer turpis libero. Id nunc quisque sed ut nec
              phasellus turpis enim elit. Turpis lobortis pellentesque ac
              massa risus faucibus tempus ut neque. Faucibus orci faucibus
              malesuada imperdiet vitae.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Orci pellentesque amet quam massa
              in aliquet pulvinar tincidunt. Enim sit elit scelerisque vel
              aliquam vel quam a tincidunt. Nunc diam at sed fames integer
              
            </p>
          </div>
          <div class="card-style mb-30" >
            <h1 class="mb-30 text-green" style="color:#27d20d">PARRAINAGE</h1>
            <p>
              <span class="text-success text-medium"> Paragraph text</span>
              sit amet, consectetur adipiscing elit. Orci pellentesque amet
              quam massa in aliquet pulvinar tincidunt. Enim sit elit
              scelerisque vel aliquam vel quam a tincidunt. Nunc diam at sed
              fames integer turpis libero. Id nunc quisque sed ut nec
              phasellus turpis enim elit. Turpis lobortis pellentesque ac
              massa risus faucibus tempus ut neque. Faucibus orci faucibus
              malesuada imperdiet vitae.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Orci pellentesque amet quam massa
              in aliquet pulvinar tincidunt. Enim sit elit scelerisque vel
              aliquam vel quam a tincidunt. Nunc diam at sed fames integer
              
            </p>
          </div>
        </div>
      
      <!-- end card -->
      </section>
            <!-- ========== footer start =========== -->
            {% endblock %}