<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />
  <meta name="theme-color" content="#2cef0e">
  <title>SMART INVEST | Révolutionnant les investissements grâce à l'IA</title>

  <!-- ========== All CSS files linkup ========= -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/lineicons.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="assets/css/fullcalendar.css" />
  <link rel="stylesheet" href="assets/css/fullcalendar.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body style="display: flex;align-self:center;justify-content:center;align-items:center;padding:30px">
    <div style="display: flex;align-self:center;justify-content:center;align-items:center">

        <li>
            <a href="{% url 'inscription' %}" class="main-btn primary-btn-outline square-btn btn-hover">inscription</a>
          </li>
          <li>
            <a href="{% url 'connexion' %}" class="main-btn primary-btn-outline square-btn btn-hover">connexion</a>
          </li>


    </div>

 <!-- ========= All Javascript files linkup ======== -->
 <script src="assets/js/jquery-3-7-1.min.js"></script>
 <script src="assets/js/bootstrap.bundle.min.js"></script>
 <script src="assets/js/bootstrap.min.js"></script>
 <script src="assets/js/Chart.min.js"></script>
 <script src="assets/js/dynamic-pie-chart.js"></script>
 <script src="assets/js/moment.min.js"></script>
 <script src="assets/js/fullcalendar.js"></script>
 <script src="assets/js/jvectormap.min.js"></script>
 <script src="assets/js/world-merc.js"></script>
 <script src="assets/js/polyfill.js"></script>
 <script src="assets/js/main.js"></script>

</body>
</html>