{% extends 'base.html' %}

{% block content %}
{% load static %}

      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>SECTION PARRAINAGE</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#0">TABLEAU DE BORD</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        PARRAINAGE
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
        </div>
        <!-- end container -->
      </section>
      <!-- ========== section end ========== -->
<section style="padding: 15px;">
  <!-- end card -->
  <div class="col-lg">
    <div class="card-style mb-30" >
      <h1 class="mb-30 text-green" style="color:#27d20d">LE PARRAINAGE</h1>
      <section>
        <h2>Programme de Parrainage SMART Invest</h2>
        <p>En invitant de nouveaux utilisateurs à rejoindre SMART Invest via votre lien de parrainage personnel, vous bénéficiez d'avantages exclusifs :</p>
        <ul>
          <li>Recevez un <strong>bonus de 8%</strong> sur le premier ACHAT de votre filleul.</li>
          <li>En tant que <em>grand parrain</em>, gagnez <strong>4%</strong> sur le premier ACHAT du filleul de votre filleul.</li>
        </ul>
        <p>Votre lien de parrainage est facilement accessible dans la <strong>section Parrainage</strong> de votre compte. Utilisez-le pour inviter vos amis et maximiser vos récompenses.</p>
        <p style="color: red;"><em>Note</em>: Les bonus sont crédités directement sur votre solde SMART Invest et sont soumis aux conditions générales du programme de parrainage.</p>
      </section>
      <!-- Fin de la section Parrainage -->
    </div>
    <div class="card-style mb-30" >
      <h1 class="mb-30 text-green" style="color:#fed908">VOTRE LIEN DE PARRAINAGE</h1>
      <p>
        <span class="text-success text-medium"> lien : </span>
        <a href="{% url 'inscriptionParrainee' user.codeParrainage %}">VEUILLEZ COPIER(VOUS ETES  PARRAIN DE {{fieuils}} PERSONNES)</a>
      </p>
    </div>
  </div>

<!-- end card -->
</section>
{% endblock %}