{% extends 'base.html' %}

{% block content %}
{% load static %}


<!-- ========== section start ========== -->
<section class="section">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title">
            <h2>POLITIQUE DE SMART INVEST</h2>
          </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
          <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#0">TABLEAU DE BORD</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  POLITIQUE
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->
  </div>
  <!-- end container -->
</section>
<!-- ========== section end ========== -->

<!-- ========== section end ========== -->
<section style="padding: 15px;">
  <!-- end card -->
  <div class="col-lg">
    <div class="card-style mb-30">
      <h1 class="mb-30 text-green" style="color:#27d20d">Politique de SMART INVEST</h1>
      <p>
        <span class="text-success text-medium">LIRE ATTENTIVEMENT</span><br>


        1. <b>Admissibilité et inscription :</b><br>
        - Les utilisateurs doivent être âgés d'au moins 18 ans pour ouvrir un compte.<br>

        2. <b>Confidentialité et sécurité des données :</b><br>
        - Smart Invest s'engage à protéger la confidentialité et la sécurité des données des utilisateurs.<br>
        - Les utilisateurs sont responsables de la sécurisation de leurs identifiants de connexion.<br>

        3. <b>Retraits et distributions :</b><br>
        - Les retraits sont traités dans les délais spécifiés et peuvent être soumis à des limites minimales et
        maximales.<br>
        - Les distributions de gains sont effectuées conformément aux taux annoncés, sous réserve des conditions du
        marché.<br>

        4. <b>Modifications des conditions :</b><br>
        - Smart Invest peut modifier les termes et conditions avec un préavis raisonnable.<br>
        - Les utilisateurs seront informés de toute modification importante par e-mail ou via la plateforme.<br>



      </p>


    </div>

    <div class="card-style mb-30">
      <h1 class="mb-30 text-green" style="color:#27d20d">Règles d'utilisation</h1>
      <p>
        <span class="text-success text-medium">LIRE ATTENTIVEMENT</span><br>

        1. <b>Comportement des utilisateurs :</b><br>
        - Les utilisateurs doivent agir avec intégrité et respect envers Smart Invest.<br>
        - Tout abus, harcèlement ou comportement frauduleux entraînera des sanctions. <br>

        2. <b>Communication et support :</b><br>
        - Les demandes de support doivent être soumises via les canaux officiels uniquement.<br>
        - Les communications non sollicitées ou spam sont interdites.<br>

        3. <b>Respect de la propriété intellectuelle :</b><br>
        - Le contenu de Smart Invest, y compris les algorithmes, est protégé par le droit d'auteur.<br>
        - Toute utilisation non autorisée du contenu ou des marques de Smart Invest est interdite.<br>

        Ces politiques et règles sont conçues pour assurer une expérience sécurisée et équitable pour tous les
        utilisateurs de Smart Invest. Elles sont susceptibles d'être mises à jour pour refléter les évolutions du marché
        et de la réglementation.

      </p>


    </div>

  </div>

  <!-- end card -->
</section>
<!-- ========== footer start =========== -->
{% endblock %}