<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <title>SMART INVEST | Révolutionnant les investissements grâce à l'IA</title>

    <meta name="theme-color" content="#2CEF0E">
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/home/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'assets/js/home/script.js' %}" defer></script>
</head>
<header>
    
    <img src="{% static 'assets/images/home/images/LOGO.jpg' %}" alt="LOGO" id="header-logo">
        
    <nav class="header-nav">

        <ul class="nav-link">
            <li><a href="#">Présentation</a></li>
            <li><a href="{% url 'help' %}">Aide</a></li>
            <li><a href="{% url 'connexion' %}">Inscription</a></li>
            <li><a href="{% url 'inscription' %}">Connexion</a></li>
        </ul>

    </nav>

</header>
<body>

    <div class="first-div">

        <div class="first-back-container">
            <img src="{% static 'assets/images/home/images/coins.png' %}" alt="">
        </div>

        <div class="first-text-container">
            <p>Investissez grâce à l'intelligence artificielle</p>
            <p>Bienvenue chez Smart invest, une plateforme pionnière dans le domaine des investissements alimentés par l'intelligence
            artificielle (IA). Nous sommes fiers de présenter une approche innovante qui maximise les bénéfices pour nos clients.</p>
        </div>
        <a href="{% url 'connexion' %}"><button class="first-start-button">C'est parti</button></a>
        

    </div>

    <div class="second-div">

        <img src="{% static 'assets/images/home/images/LOGO.png' %}" alt="" id="second-smart-logo">

        <h1>Comment est-ce que ça marche ?</h1>

        <p>À la base de notre fonctionnement se trouve une IA sophistiquée qui analyse en temps réel les marchés financiers, les
        tendances économiques mondiales et les données historiques. Cette analyse approfondie permet à notre système de détecter
        des opportunités d'investissement lucratives avec une précision et une rapidité inégalées.</p>

    </div>

    <div class="third-div">

        <h1>Nos atouts</h1>

        <div class="third-grid-container">

            <div class="third-grid one">
                <img src="{% static 'assets/images/home/images/growing_arrow.png' %}" alt="growing-arrow-img">
                <h2>Analyse prédictive</h2>
                <p>Notre IA utilise des modèles d'apprentissage automatique pour prédire les mouvements futurs des marchés financiers. </p>
            </div>

            <div class="third-grid two">
                <img src="{% static 'assets/images/home/images/wallet.png' %}" alt="wallet-img">
                <h2>Optimisation du portefeuille</h2>
                <p>Notre système ajuste automatiquement les portefeuilles d'investissement pour maximiser les rendements tout en minimisant
                les risques.</p>
            </div>

            <div class="third-grid three">
                <img src="assets/images/home/images/trading_algo.png' %}" alt="trading-algo-img">
                <h2>Trading algorithmique</h2>
                <p>Grâce à des algorithmes de trading avancés, nous exécutons des transactions en temps réel pour capitaliser sur les
                opportunités identifiées par l'IA.</p>
            </div>

        </div>

    </div>

    <div class="fourth-div">
    
        <img src="{% static 'assets/images/home/images/distribution.png' %}" alt="">
        <div class="fourth-div-elt-container">
    
            <h1>Distribution de gains</h1>
            <p>
                Nous sommes fiers d'offrir à nos clients un retour sur investissement exceptionnel avec un taux de distribution de 5 %
                par jour. Cette distribution régulière de bénéfices reflète l'efficacité de notre approche basée sur l'IA et notre
                engagement à fournir des résultats tangibles à nos investisseurs.
            </p>
    
        </div>

    </div>
    
    
</body>

<footer>

    <div class="footer-first-container">

        <div class="first-first-container">
            <p>Pour plus d'informations, vous pourrez consulter la session 'Aide' de l'application où vous pouvez naviguer dès
            maintenant</p>
            <p>Lien internet de l'applicaiton: <a href="{% url 'index' %}">SAMRT INVEST </a></p>
        </div>
        <div class="first-second-container">
            <p>Nos réseaux sociaux</p>
            <div class="social-media-container">
                <a href=""><i class='bx bxl-facebook'></i></a>
                <a href=""><i class='bx bxl-linkedin'></i></a>
                <a href=""><i class='bx bxl-google'></i></a>
            </div>
        </div>

    </div>
    <div class="footer-second-container">

        <p>Inscris-toi et rejoins notre communauté</p>
        <button><a href="{% url 'inscription' %}">S'inscrire</a></button>


    </div>
    <div class="footer-third-container">@ 2024 Copyright: FOX <a href="https://fox-s.netlify.app">https://fox-s.netlify.app"</a></div>

</footer>
</html>